* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: pink;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: darkorchid;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}